@use '../foundation/variables' as *;

.u-text-center { text-align: center; }
.u-text-left   { text-align: left; }
.u-text-right  { text-align: right; }
.u-text-accent { color: $color-accent; }
.u-text-muted  { color: $color-muted; }
